

.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #282828;
    
}
.footer__left{
    flex: .3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}
.footer__center{
    flex: .4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
}
.footer__right{
    flex: .3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
.volume-level-bar{
      position: relative;
      width: 150px;
      height: 2px;
      background: #a3b3ce74;
      margin-right: 60px;
      cursor: pointer;
}
.volume-level-current{
    height: inherit;
    width: 40%;
    background-color:white ;
    border-radius: 10px;
}
.footer__albumlogo{
    height: 50px;
    width: 50px;
    margin-right: 18px;
    object-fit: contain;
    margin-left: 17px;
}
p {
    line-height: 0px;
}
.song__info > h4{
    margin-top: 0;
    font-size: 14px;
    margin-top: 4px;
}
.song__info > p{
    color: rgba(255, 255, 255, 0.764);
    font-size: 12px;
}
.footer__green{
    color: #1ed15e;
}
.footer__icon:hover ,
.footer__green:hover {
    transition: transform 0.2s ease-in;
    transform: scale(1.2);
}
